/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* variables */
:root {
  --clr-primary-400: #2591ce;
  --clr-secondary-400: #f9cb47;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #e1e7ef; 
  --clr-neutral-300: #888888;
  --clr-neutral-700: #040404;

  --ff-primary: 'Roboto', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: .85rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.5rem;
  --fs-700: 1.8rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-nav: var(--fs-400);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  list-style: none;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture
{
 
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Basic layout */
body {
  background-color: var(--clr-neutral-300);
}

.container {
  height: 100vh;
  font-family: var(--ff-body);
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--clr-neutral-100);
}


/* Sidebar styles */

.sidebar {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.sidebar-header {
  
  display: grid;
  grid-template-columns: 1fr 4fr;
  
  align-items: center;
  margin: 1em;
  padding-bottom: 2em;
}

.sidebar-header li img {
  width: 3em;
}

.sidebar-header li p {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.sidebar-mid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  
 
  align-items: center;
  
  margin: 1em;
  padding-bottom: 2em;
}

.sidebar-mid li {
  padding: .5em;
}

.sidebar-mid li img {
  width: 1.5em;
  
}

.sidebar-mid li a {
  font-weight: var(--fw-bold);
  
}

.sidebar-end {
  display: grid;
  grid-template-columns: 1fr 4fr;
  
  align-items: center;
  margin: 1em;
}

.sidebar-end li {
  padding: .5em; /* gives space between each li element*/
}

.sidebar-end li img {
  width: 1.5em;
}

.sidebar-end li a {
  font-weight: var(--fw-bold);
}

li a{
  color: var(--clr-neutral-100);
  text-decoration: none;
}

/* li img {
  max-width: 1.5em;
} */

/* Main content styles*/
.top-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.top-header-left {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-items: stretch;
  grid-template-areas: 
  'icon bar'
  ;
}

.top-header-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.top-header-right p {
  font-weight: var(--fw-bold);
}

.glass {
  grid-area: icon;
}

.search-bar {
  grid-area: bar;
  width: 90%;
  background-color: var(--clr-neutral-200);
  border-radius: 1em;
}

/* Main section header*/
.bottom-header {
  display: grid;
  grid-template-columns: 50% 50%;
}

.bottom-header-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  'pic text1'
  'pic text2'
  ;
}

.bottom-header-left > img {
  max-width: 15em;
  grid-area: pic;
  place-self: center;
}

.b-hp-one {
  align-self: flex-end;
}



.header__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
}

.header__buttons button {
  font-family: inherit;
  display: inline-block;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 20px;
  width: 125px;
  padding: 10px;
  
  font-weight: var(--fw-bold);
}

/* Utility classes*/

.text-primary-400 {
  color: var(--clr-neutral-700)
}

.text-primary-600 {
  font-size: var(--fs-600);
}

.fw-bold {
  font-weight: var(--fw-bold);
}




.filter-white {
  filter: invert(100%) sepia(0%) saturate(7444%) hue-rotate(3deg) brightness(103%) contrast(102%);
  
}

.filter-black {
  max-width: 2em;
}

div img {
  max-width: 10em;
  border-radius: 50%;
}
